{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4 text-danger">Borrar Producto</h2>
    <p>¿Estás seguro de que deseas eliminar el producto <strong>{{ producto.nombre_producto }}</strong>?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'ver_producto' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
