{% extends 'base.html' %}
{% block content %}
  <h3>Actualizar Empleado</h3>
  <form method="post" action="{% url 'realizar_actualizacion_empleado' empleado.id %}">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" name="nombre" value="{{ empleado.nombre }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Apellido</label>
      <input type="text" name="apellido" value="{{ empleado.apellido }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Puesto</label>
      <input type="text" name="puesto" value="{{ empleado.puesto }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Fecha de Contratación</label>
      <input type="date" name="fecha_contratacion" value="{{ empleado.fecha_contratacion|date:'Y-m-d' }}" class="form-control" required>
    </div>
    <button class="btn btn-success" type="submit">Guardar cambios</button>
    <a href="{% url 'ver_empleado' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}