{% extends 'base.html' %}
{% block content %}
  <h3>Actualizar Flota de Producción</h3>
  <form method="post" action="{% url 'realizar_actualizacion_flota' flota.id %}">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Tipo de Transporte</label>
      <input type="text" name="tipo_transporte" value="{{ flota.tipo_transporte }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre del Transporte</label>
      <input type="text" name="nombre_transporte" value="{{ flota.nombre_transporte }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Placas</label>
      <input type="text" name="placas" value="{{ flota.placas }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Código</label>
      <input type="text" name="codigo" value="{{ flota.codigo }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Modelo</label>
      <input type="text" name="modelo" value="{{ flota.modelo }}" class="form-control" required>
    </div>
    <button class="btn btn-success" type="submit">Guardar cambios</button>
    <a href="{% url 'ver_flota' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}